/* Inheritance: easily override if child element has it's own property */
* {
    padding: 0;
    margin: 0 3px 0 3px;
}


body {
    color: #5d5d5d;
    font-family: 'League Gothic', sans-serif;
    /* making the parent of the Like button relative position */
    position: relative;

}

/*  Creating List Selectors*/

/* Putting text and color properties in the body style */


/*h1, h2, h3, h4, p, li {*/
/*    font-family: 'League Gothic', sans-serif;*/
/*    !* This overrides the Parent property of the Body element *!*/
/*    color: #5d5d5d;*/

/*}*/

/* Here we see conflict between color of h elements but blue is the final color because
it comes last in the CSS file
*/


.main-header {
    background-color: #e7e7e7;
    padding: 20px 40px;
    text-align: center;
    margin-bottom: 20px;
}

aside {
    background-color: #e7e7e7;
    /*border: 5px solid cornflowerblue; */
    border-top: 5px solid cornflowerblue;
    border-bottom: 5px solid cornflowerblue;
    /* values are entered using: Top/Bottom Left/Right*/
    padding: 50px 0;
    width: 500px;
}

article {
    margin-bottom: 50px;
}


h1, h2, h3 {
    color: #4a7bea
}


h1 {
    color: #f63232;
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 42px;
    text-align: left;
    margin-bottom: 20px;
}

.post-header {
    margin-bottom: 40px;
    position: relative;

}

h3 {

    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

h4 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 20px;
    /*line-height: 1.5; */
    margin-bottom: 15px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;

}

li:last-child {
    margin-bottom: 0;
}

ul, ol {
    margin-left: 50px;
    margin-bottom: 15px;
}

/*  Descendent selector */

/*
footer p {
    font-size: 12px;
}

 */

/*
article header p {
    font-style: italic;
}

 */

#author {
    font-style: italic;
    font-size: 16px;
}

#copyright {
    font-size: 14px;
}

.author-name {
    font-size: 16px;
    font-weight: bold;
}

.related {
    list-style-type: none;
}


/*
CSS Pseudo-class
 */

/*
.first-li {
    font-weight: bold;
}

 */

/*
li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

li:nth-child(2) {
    color: red;
}

li:nth-child(odd) {
    color: darkblue;
}

 */

/*
CSS Pseudo class misconception
 */

article p:last-child {
    color: red;
}

/*  this targets elements with href attributes only */
a:link {
    color: mediumpurple;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: #f63232;
    font-weight: bold;
    text-decoration: 5px underline black;
}

a:active {
    background-color: black;
    font-style: italic;
}

/*  Conflicts between Selectors */

#copyright {
    color: red;
}

.copyright {
    color: blue;
}

.text {
    color: green;
}

footer p {
    color: orange;
}

button {
    font-size: 20px;
}

button:hover {
    background-color: red;

}

.reasons-list {
    list-style-type: square;
}

.back-to-top {
    margin-left: 15px;
}

.author-image {
    width: 50%;
    height: auto;
}

.container {
    width: 1750px;
    margin: 0 auto;
}

/* NOTES ON: TYPE OF BOXES INLINE VS BLOCK*/
/*
nav a:link {
    background-color: orange;
    margin: 10px;
    padding: 5px;

 */
/* by making the element display block it will take up all horizontal space of the parent element*/
/*
    display: block;

}
*/

nav a:link {
    display: inline-block;
    margin-top: 5px;
    margin-left: 35px;
    margin-right: 5px;
}

nav a:link:first-child {
    margin-left: 0;

}

#like-button {
    font-size: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    padding: 15px;
    margin: 30px;
}

/* PSEUDO ELEMENTS */
h1::first-letter {
    font-style: normal;
    margin-right: 5px;
}

/* Selects the first line of a <p> */

/*
p::first-line {
    color: red;
}

 */
/* Selecting paragraphs that come after h3*/
h3 + p {
    color: red;
}