* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    color: #1F363D;
    font-size: 18px;
}

img {
    max-width: 100%;
    display: inline-block;
}

.content-container {
    width: 1280px;
    margin: 0 auto;
    /* Use border to see element boundaries */
    /*background-color: rgba(155, 155, 155, 0.25);*/
}

/* NAV BAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

nav a:link:first-child {
    font-family: 'Permanent Marker', cursive;
    font-size: 34px;
}

nav a:link {
    text-decoration: none;
    color: #393D3F;
}

nav label input[type=text] {
    font-size: 16px;
    border: rgba(48, 105, 152, 0.84) solid 2px;
    padding: 8px 16px;
    border-radius: 8px;
}

/* MAIN CONTENT */

.section-hero {
    margin-top: 48px;
    margin-bottom: 96px;

}

.hero-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*background-color: lightgray;*/
    align-items: center;
    /*background-color: rgba(155, 155, 155, 0.25);*/
    gap: 24px;

}

.hero-img-1 {
    max-width: 100%;
    border-radius: 10px;
}

.heading-primary {
    font-family: 'Permanent Marker', cursive;
    font-size: 42px;
    letter-spacing: 2px;
}

.hero-description {
    line-height: 1.8;
    margin: 30px 0;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    background-color: #FFD43B;
    display: inline-block;
    padding: 12px 12px;
    border-radius: 5px;
    color: #1F363D;

}

.btn:hover,
.btn:active {
    background-color: #4b8bbe;
    color: whitesmoke;

}

.top-posts {
    /*background-color: rgba(255, 232, 115, 0.26);*/
    background-color: rgba(162, 162, 162, 0.1);
    border-radius: 15px;
    padding: 30px 30px;
}

.grid-3-cols figure {
    /*background-color: rgba(75, 139, 190, 0.3);*/
    padding: 15px;
    border-radius: 15px;
}

.grid-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
    justify-items: center;
}

.post-text-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


/* FOOTER */
li, a {
    display: inline-block;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /*background-color: rgba(155, 155, 155, 0.25);*/
    font-size: 16px;
}

.footer-container li a:link {
    margin: 10px 40px;
    text-decoration: none;
}

.footer-container p {
    margin: 10px 40px;
}

.line-break {
    justify-content: stretch;
}