<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Permanent+Marker&display=swap"
          rel="stylesheet">
    <title>{% block title %} Base Page {% endblock title %}</title>
    <link rel="stylesheet" href="../static/css/base.css"/>
</head>
<body>
<div class="content-container">
    <nav>
        <a href="#"> PyWebDev</a>
        <a href="#"> Home</a>
        <a href="#"> Posts</a>
        <a href="#"> Account</a>
        <a href="#"> About</a>
        <label>
            <input type="text" placeholder="Search..">
        </label>
        <a href="#"> Log In</a>
        <a href="#"> Sign Up</a>
    </nav>
    
    <div class="main-content">
    </div>
    
    <footer>
        <div class="footer-container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <hr class="line-break">
            <p>&copy; 2022 Company, Inc</p>
        </div>
    
    </footer>
</div>
</body>
</html>