<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Permanent+Marker&display=swap"
          rel="stylesheet">
    <title>{% block title %} Base Page {% endblock title %}</title>
    <link rel="stylesheet" href="../static/css/base.css"/>
</head>
<body>
<div class="content-container">
    <nav>
        <a href="#"> PyWebDev</a>
        <a href="#"> Home</a>
        <a href="#"> Posts</a>
        <a href="#"> Account</a>
        <a href="#"> About</a>
        <label>
            <input type="text" placeholder="Search..">
        </label>
        <a href="#"> Log In</a>
        <a href="#"> Sign Up</a>
    </nav>
    
    <!-- MAIN CONTENT SECTION -->
    <section class="section-hero">
        <div class="hero-container">
            <div class="hero-text-box">
                <h1 class="heading-primary">Welcome Python WebDevs! </h1>
                <p class="hero-description">
                    Join the community to meet other Python WebDevs, read up on interesting topics and build your
                    network! Whether you're looking for help, want to contribute a blog post or simply want to meet
                    other PyWebDevs - join now!
                </p>
                <a href="#" class="btn"> Join the Community</a>
            </div>
            <div class="hero-img-box">
                <img src="../static/images/light-code-sc.png" class="hero-img-1"
                     alt="code on computer screen light mode">
                <!--<img src="../static/images/dark-code-sc.png" class="hero-img-2" alt="code on computer screen dark mode">-->
            </div>
        </div>
    </section>
    
    <section class="top-posts">
        <div class="grid-3-cols">
            <figure>
                <img src="../static/images/flask.png" width="180" height="80">
                <div class="post-text-box">
                    <h3> RESTful API</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor vel purus vitae cursus.
                    </p>
                </div>
            
            </figure>
            <figure>
                <img src="../static/images/jinja.png" width="150" height="80">
                <div class="post-text-box">
                    <h3> Jinja Templates </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor vel purus vitae cursus.
                    </p>
                </div>
            
            </figure>
            <figure>
                <img src="../static/images/bootstrap.png" width="140" height="90">
                <div class="post-text-box">
                    <h3> Bootstrap 5</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor vel purus vitae cursus.
                    </p>
                </div>
            
            </figure>
        
        </div>
    
    </section>
    
    <footer>
        <div class="footer-container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <hr class="line-break">
            <p>&copy; 2022 Company, Inc</p>
        </div>
    
    </footer>
</div>
</body>
</html>