/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT WEIGHT: 400 DEFAULT

MAIN COLOR: #228be6
GREY COLOR: #343a40


PRIMARY COLOR:
ACCENT COLORS:

GREYS:


SHADOWS:

BORDER RADIUS:


WHITESPACE:



*/


/* GLOBAL RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*font-size: 10px;*/
    font-size: 62.5%;
}

body {
    font-family: Rubik, sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #3a3939;
}


.section-hero {
    height: 75vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../imgs/head_background_img.jpg");
    background-size: cover;
    color: whitesmoke;
}

.hero-container {
    /* WE CREATE THIS ELEMENT SO WE CAN DEFINE A FIXED WIDTH*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*background-color: lightgray;*/
    max-width: 160rem;
    align-items: center;
    padding-top: 120px;
    gap: 4rem

}

.heading-primary {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 3.2rem;
}

.hero-description {
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}

.hero-img {
    max-width: 100%;
}

.btn:link,
.btn:visited {
    font-size: 2rem;
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: .3rem;

}

.btn-full:link,
.btn-full:visited {
    background-color: #1b6fb8;
    color: whitesmoke;
}

.btn-full:hover,
.btn-full:active {
    background-color: #498cc6;
    color: whitesmoke;
}

.btn-outline:link,
.btn-outline:visited {
    background-color: rgba(255, 255, 255, 0.65);
    color: #555;
}

.btn-outline:hover,
.btn-outline:active {
    background-color: #bbd4ea;
    color: #555;
}