<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Home page </title>

</head>
<body>

<h1> Please fill out the form to continue: </h1>

<form method="POST">
    {{form.hidden_tag()}}
    {{form.username.label}} {{form.username()}}
    <br>
    {{form.valid_member.label}} {{form.valid_member()}}
    <br>
    {{form.membership_level.label}}{{form.membership_level()}}
    <br>
    {{form.load_type.label}}{{form.load_type()}}
    <br>
    <p> Any additional comments? </p>
    {{form.comments()}}
    <br>
    {{form.submit()}}

</form>

</body>