<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Home page </title>

</head>
<body>

<h1> The information provided: </h1>

<ul>
    
    <li> Username: {{session['username']}}</li>
    <li> Membership: {{session['valid_member']}}</li>
    <li> Membership Level: {{session['membership_level']}}</li>
    <li> Load Type: {{session['load_type']}}</li>
    <li> Comments: {{session['comments']}}</li>
</ul>

<a href="{{url_for('index')}}"> Home</a>