/* GENERAL STYLING */


/* MAIN COLOR #40798C

TEXT COLOR #1F363D */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    color: #1F363D;
    border-bottom: 8px solid #40798C;
}

.container {
    width: 960px;
    margin: 0 auto;
    /*border: 3px blue solid;*/

}

header {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
}

img {
    justify-self: end;
    display: inline-block;
}

header,
section {
    margin-bottom: 48px;
}

h1 {
    margin-bottom: 35px;
    font-size: 44px;
    line-height: 1.1;
    letter-spacing: -1px;
    /*text-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);;*/
}

h2 {
    margin-bottom: 34px;
    font-size: 36px;
    letter-spacing: -0.25px;
}

h3 {
    margin-bottom: 24px;
    font-size: 20px;
}

p {
    margin-bottom: 48px;

}

.header-text {
    font-size: 20px;
    line-height: 1.6;
}

.header-text-box {
    align-self: center;
}

.grid-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
}

.features-title {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 20px;
}

.features-text {
    font-size: 18px;
    line-height: 1.6;

}

.features-icon {
    width: 42px;
    height: 42px;
    margin-bottom: 14px;
}

.testimonial-section {
    /*background-color: #CFE0C3;*/
}


.testimonial-box {
    grid-column: 2/ -1;
    align-self: center;
}

.testimonial-box h2 {
    font-size: 30px;
}

.testimonial-text {
    font-style: italic;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 1.6;
}


.testimonial-author {
    font-size: 18px;
    line-height: 1.6;
}

.keyboard {
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);

}

.keyboard-box {
    padding: 24px;
}

.keyboard-price {
    display: flex;
    justify-content: space-between;
    font-size: 18px;

}

.keyboard-details {
    list-style: none;
    margin-bottom: 24px;
}

.keyboard-details li {
    display: flex;
    margin-bottom: 24px;
    gap: 12px;
    align-items: center;

}

.keyboard-list-icon {
    width: 20px;
    height: 20px;
}


footer {
    margin-bottom: 48px;
    font-size: 12px;
    text-align: center;
}


a:link {
    background-color: #40798C;
    font-size: 16px;
    align-self: end;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 28px;
    display: inline-block;
    font-weight: 500;


}

a:link:hover {
    color: #1F363D;
    background-color: #70A9A1;
}


.add-to-cart-button:link {
    background-color: #40798C;
    font-size: 14px;
    align-self: end;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 8px;
    display: inline-block;
    font-weight: 500;

}
