/* GENERAL STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
}

header,
section {
    margin-bottom: 48px;
}

h2 {
    margin-bottom: 48px;
}

.grid-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
}

.features-title {
    margin-bottom: 16px;
    font-weight: bold;
}

.testimonial-box {
    grid-column: 2/ -1;
}

.last-fig-item {
    justify-self: end;
}

.keyboard-price {
    display: flex;
    justify-content: space-between;
}