<p>
    <!-- originally set to False but then grabs Form data entered -->
    {% if department %}
    The department you belong to is: {{department}}. <br>
    Update it in the form below:
    
    {% else %}
    Please enter your department:
    
    {% endif %}
</p>


<form method="POST">
    <!-- This is for the CSRF security feature, accessible because we inherit from FlaskForm in our class setup.-->
    {{ form.hidden_tag() }}
    <!-- for fields defined such as StringField we can access label or execute which will create element -->
    <!-- form.department.label accesses the text inside the () for our defined StringField -->
    <!-- form.department() will run the function -->
    {{ form.department.label }} {{ form.department }}
    <!-- Here we are calling the submit method defined in out InfoForm class -->
    {{ form.submit() }}
</form>

