<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Howdy {{name}}</h1>
<h2> The letters in this name are: {{name_list}}</h2>
<p>
    We can also do manipulation using python for example, the last letter in your name is {{name_list[-1]}}

</p>
<p>
    We can also do manipulation using python for example, the last letter in your name is {{name[-1]}}

</p>

To make a list of each element in an iterable:
<ul>
    {% for letter in name%}
    <li>{{letter}}</li>
    {% endfor %}
</ul>

Let's see if Baker is in the users:
{% if 'Baker' in users %}
<p> Found you Baker!</p>
{% else %}
<p>Baker is not a user....</p>
{% endif %}

Special Message if you are logged in!
{% if user_logged_in%}
<h2>Welcome! Thank you for logging in! </h2>
{%else%}
<h2>Please log in to continue.</h2>
{% endif %}


</body>
</html>