{%extends "username_base.html" %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1>Checking username: {{username}}</h1>
        {% if condition_one and condition_two and condition_three %}
        
        <p>all of the 3 conditions passed! </p>
        
        {% elif condition_one and condition_two %}
        
        <p> Condition_three did not pass </p>
        
        {% elif condition_one and condition_three %}
        
        <p>Condition_two did not pass </p>
        
        {% elif condition_two and condition_three %}
        
        <p>Condition one did not pass. </p>
        
        {% else %}
        
        <p> None of the conditions passed, please try again! </p>
        
        {% endif %}
    
    </div>
</div>
{% endblock %}