{%extends "username_base.html" %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1>Checking username: {{username}}</h1>
        {% if all_good %}
        
        <p>Your username passed all checks! </p>
        
        <!-- Here we use the else statement and build out the list with if statements-->
        {% else %}
        <ul>
            {% if not lower %}
            
            <li>Your username does not contain a lowercase letter.</li>
            
            {% endif %}
            
            {% if not upper %}
            
            <li>Your username does not contain an uppercase letter.</li>
            
            {% endif %}
            
            {% if not final_num %}
            
            <li>Your username does not end in a number.</li>
            
            {% endif %}
        </ul>
        {% endif %}
    
    </div>
</div>
{% endblock %}